@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://rawgit.com/richleland/pygments-css/master/github.css");

body {
  background: #555 url('../images/binding_dark.png') repeat fixed top left;
  font-family: "Helvetica", sans-serif;
}

article {
  background: #eee url('../images/paper_fibers.png') repeat fixed center center;
  box-shadow: 0 0 12mm black;
  border-radius: 1mm;
  border: 1px solid darkgrey;
  padding: 4mm;
  page-break-inside: avoid;
}

.blogpost {
  width: 70%;
  margin: 3em auto 2em auto;
}

.blogpost h1 {
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width: 820px) {
  .blogpost {
    width: auto;
    float: center;
  }
}

.timestamp {
  font-size: small;
  margin-bottom: 2em;
}

.blogpost p {
  text-align: justify;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#card {
  position: absolute;
  width: 102mm;
  height: 66mm;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-variant: small-caps;
}

#shot {
  max-width: 36mm;
  max-height: 36mm;
  position: absolute;
  left: 13mm;
  top: 6mm;
}

#name {
  text-align: center;
  width: 55.2mm;
  position: absolute;
  top: 3.6mm;
  right: 3.6mm;
  font-size: 180%;
}

#titles {
  text-align: center;
  width: 55.2mm;
  position: absolute;
  right: 3.6mm;
  top: 24mm;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#titles li {
  margin-bottom: 0.4em;
  font-size: 130%;
}

#contact {
  position: absolute;
  text-align: center;
  width: 95mm;
  bottom: 3.6mm;
  left: 3.6mm;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#contact li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 5mm;
  margin-right: 5mm;
  padding-bottom: 3mm;
  font-size: 117%;
}

a , a:visited {
  color: #55acee;
  text-decoration: none;
}

.twitter-handle::before {
  content: '\f099';
  font-family: FontAwesome;
  margin-right: 0.2em;
  color: #55acee; /* twitter brand colour */
}

.commentlink {
  text-align: right;
}

.commentlink a {
  text-decoration: none;
}

footer {
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: -2mm;
  left: 0;
  text-align: center;
  color: #bbb;
  z-index: -1;
}

.portcontext {
  font-size: small;
}

.portscreenie {
  margin: 0;
  float: right;
  display: inline;
  max-height: 10em;
  position: relative;
  right: 2em;
  margin-left: 3.5em;
}

.portfolio {
  min-height: 15em;
}

.colleagues:before {
  content: 'With:';
  font-size: small;
  font-style: italic;
}

.colleagues {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.colleagues li {
  margin: 2mm 0.4em 0 0.4em;
}

#home {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 2em;
  top: 0.8em;
}

#home a {
  color: white;
  font-variant: small-caps;
}

.blogpost :not(.portfolio) img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footnotes ol {
  font-size: small;
}

@media print {
  #home {
    display: none;
  }

  .portfolio:nth-child(odd) {
    page-break-after: always;
  }
}

